/* google search flexboxed and gridboxes. There is a website called CSS.tricks. I see you used 'absolute' to position things. 
    you dont want to do this because when the viewport changes you positions will be jacked. Use grid and flexbox together to
    frame and adjust. Your variable names need to describe 'intent'. You want your code to be story. I should be able to read
    this and picture what is happening. .pfp doesn't describe what it is. It makes sense to you of course, but not the reader.
    Keep building and you will get better with each project.
*/
* {
    margin: 0;
}

@font-face {
    font-family: myFont;
    src: url(Roboto-Light.ttf);
}

html {
    background-color: white;
}

.pfp { /* bad name */
    padding: 12px;
    border-radius: 720px;
    height: 32px;
    width: 32; /* you missed a px here */
    float: right;
}

.grid {/* bad name */
    float: right;
    height: 20px;
    width: 20; /* you missed a px here */
    padding: 20px;
}

.titlecard {/* bad name */
    width: 290px;
    height: 95px;
    margin-left: 38%;
    margin-top: 270px;
}

.searchbar {/* good name */
    border-radius: 30px;
    width: 30rem;
    border: transparent;
    padding: .3rem;
    position: absolute;
    left: 380px;
    top: 40.6%;
    outline: none;/* hahhaha */
}

.googlesr {/* bad name */
    background-color: white;
    border: transparent;
    position: absolute;
    top: 45%;
    left: 490px;
    font-size: 15px;
    padding: 20px;
}

.lucky { /* good name */
    background-color: white;
    border: transparent;
    position: absolute;
    top: 45%;
    left: 640px;
    font-size: 15px;
    padding: 20px;
}

.search {/* bad name, because searchbar exist */
    height: 33px;
    position: absolute;
    top: 40.3%;
    left: 348px;
}

.mic {
    height: 33px;
    position: absolute;
    top: 40.2%;
    right: 375px;
}

.gmail {
    font-family: myFont;
    position: absolute;
    right: 180px;
    top: 22px;
}

.images {
    font-family: myFont;
    position: absolute;
    right: 120px;
    top: 22px;
}
